<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Cheese Board</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to upload cheese photos.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>GIDServerClientID</key>
	<string>$(GID_SERVER_CLIENT_ID)</string>
	<key>CFBundleURLSchemes</key>
	<string>$(CF_BUNDLE_URL_SCHEMES)</string>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(CF_BUNDLE_URL_SCHEMES)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>SUPABASE_ANON_KEY</key>
		<string>$(SUPABASE_ANON_KEY)</string>
		<key>SUPABASE_URL</key>
		<string>$(SUPABASE_URL)</string>
	</dict>
</dict>
</plist>
